<% @truncate ||= false %>
<% if post.approved? %>
<div class="post">
	<div class="post-header clearfix">
		<div class="header-icon">
		<% if post.video? %>
			<%= image_tag "video.svg" %>
		<%else%>
			<%= image_tag "post.svg" %>
		<%end%>
		
		</div>
		<div class="header-border">
			<%= image_tag "border.svg" %>
		</div>
		<div class="header-title">
			<h1><%= post.title %></h1>
		</div>
	</div>
	<div class="post-body clearfix">
		<p>
			<% if @truncate %>
				<%= post.html_content.truncate(1000).html_safe %>
			<% else %>
				<%= post.html_content.html_safe %>
			<% end %>
		</p>
	</div>
</div>
<% end %>